---
// The difference between this topnav and the normal one is that this one only
// contains an URL for getting back to index and nothing else.
---

<nav class="navbar border-b-[1px]">
	<div class="navbar-center">
		<a href="/" class="btn btn-ghost normal-case text-xl">todo</a>
	</div>
</nav>
