---
export interface Props {
	title: string;
	maxWidth?:
		| "max-w-xs"
		| "max-w-sm"
		| "max-w-md"
		| "max-w-lg"
		| "max-w-xl"
		| "max-w-2xl";
	boldTitle?: boolean;
}

const { title, maxWidth, boldTitle } = Astro.props;

const cardClass = [
	"card",
	"flex-shrink-0",
	maxWidth || "max-w-sm",
	"w-full",
	"shadow-2xl",
	"bg-base-100",
].join(" ");

const boldTitleClass = ["text-2xl", "font-bold", "self-center"].join(" ");
const titleClass = ["card-title", boldTitle && boldTitleClass].join(" ");
---

<div class={cardClass}>
	<div class="card-body">
		<h2 class={titleClass}>{title}</h2>
		<slot />
	</div>
</div>
