---
import Alert from "./Alert.astro";

export interface Props {
	extraClasses?: string;
}

const { extraClasses } = Astro.props;
const sectionClass = [
	"max-w-sm",
	"w-full",
	"flex",
	"flex-col",
	"gap-2",
	extraClasses
].join(" ")
---

<Fragment set:html={`
<%
use actix_web_flash_messages::Level;
let flash_messages = flash_messages.iter();

if flash_messages.len() > 0 {
%>
`} />
<section class={sectionClass}>
	<Fragment set:html={`
	<%
	for msg in flash_messages {
		match msg.level() {
			Level::Info => {
	%>`
	} />
		<Alert level="info">
			<Fragment set:html={`<%= msg.content() %>`} />
		</Alert>
	<Fragment set:html={`<%
			}
			Level::Success => {
	%>`} />
		<Alert level="success">
			<Fragment set:html={`<%= msg.content() %>`} />
		</Alert>
	<Fragment set:html={`<%
			}
			Level::Warning => {
	%>`} />
		<Alert level="warning">
			<Fragment set:html={`<%= msg.content() %>`} />
		</Alert>
	<Fragment set:html={`<%
			}
			Level::Error => {
	%>`} />
		<Alert level="error">
			<Fragment set:html={`<%= msg.content() %>`} />
		</Alert>
	<Fragment set:html={`<%
			}
			Level::Debug => {
	%>`} />
		<Alert level="error">
			<Fragment set:html={`<%= msg.content() %>`} />
		</Alert>
	<Fragment set:html={`
	<%
			}
		}
	}
	%>
	`} />
</section>
<Fragment set:html={`
<% } %>
`} />
