---
import TrashIcon from "./icons/TrashIcon.astro";
import EditIcon from "./icons/EditIcon.astro";
import SquareIcon from "./icons/SquareIcon.astro";
import CheckSquareIcon from "./icons/CheckSquareIcon.astro";
---

<div
	class="collapse card card-side flex-shrink-0 w-full shadow-2xl bg-base-100 lg:min-w-full"
>
	<input type="checkbox" class="peer" />
	<h2 class="card-title collapse-title bg-base-100 text-xl break-all p-4">
		<Fragment set:html={`<%= task.title %>`} />
	</h2>

	<Fragment
		set:html={`<%
      let task_edit = format!("/tasks/{}/edit", task.task_id);
      let task_toggle_status = format!("/tasks/{}/toggle-status", task.task_id);
      let task_delete = format!("/tasks/{}/delete", task.task_id);
    %>`}
	/>

	<div class="collapse-content flex flex-col">
		<Fragment set:html={`<% if let Some(text) = &task.text { %>`} />
		<p class="prose"><Fragment set:html={`<%= text %>`} /></p>
		<Fragment set:html={`<% } %>`} />
		<div class="divider"></div>

		<div class="self-center mb-2 w-full flex justify-between gap-4">
			<form
				method="post"
				action={`<%= task_toggle_status %>`}
				class="btn flex-1 p-0"
			>
				<Fragment set:html={`<% if task.status != "complete" { %>`} />
				<button class="w-full h-full flex justify-center items-center">
					<SquareIcon />
				</button>
				<Fragment set:html={`<% } else { %>`} />
				<button class="w-full h-full flex justify-center items-center">
					<CheckSquareIcon />
				</button>
				<Fragment set:html={`<% } %>`} />
			</form>

			<form action={`<%= task_edit %>`} method="get" class="btn flex-1 p-0">
				<button class="flex gap-2 items-center justify-center w-full h-full">
					<EditIcon />
					<span>Edit</span>
				</button>
			</form>

			<form method="post" action={`<%= task_delete %>`} class="btn flex-1 p-0">
				<button class="flex gap-2 items-center justify-center w-full h-full">
					<TrashIcon />
					<span>Delete</span>
				</button>
			</form>
		</div>
	</div>
</div>
