---
import BareTopNav from "../components/BareTopNav.astro";
import TopNav from "../components/TopNav.astro";

export interface Props {
	pageTitle: string;
	topnav?: "full" | "bare";
}

const { pageTitle, topnav } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
	</head>
	<body class="flex flex-col h-screen">
		{topnav == "full" && <TopNav />}
		{topnav == "bare" && <BareTopNav />}
		<slot />
	</body>
</html>
