---
import BlankLayout from "./Blank.astro";

export interface Props {
	pageTitle: string;
	topnav?: "full" | "bare";
}

const { pageTitle, topnav } = Astro.props;
---

<BlankLayout pageTitle={pageTitle} topnav={topnav}>
	<main class="hero bg-base-200 flex-grow">
		<div class="hero-content flex-col">
			<slot />
		</div>
	</main>
</BlankLayout>
