---
import HeroLayout from "../layouts/Hero.astro";
import CardForm from "../components/form/CardForm.astro";
import FormInput from "../components/form/Input.astro";
---

<HeroLayout pageTitle="todo forgot password" topnav="bare">
	<CardForm
		title="Forgot your password?"
		action="/forgot-password"
		method="post"
		submitBtnText="Continue"
		boldTitle={true}
	>
		<p class="text-center pt-2">
			Don't know your password? Reset it after confirming your email address.
		</p>
		<FormInput
			type="email"
			name="email"
			placeholder="email"
			labelTopLeft="Email"
		/>
		<a
			href="/login"
			class="link text-xs link-primary self-center"
			slot="after-submit">Cancel</a
		>
	</CardForm>
</HeroLayout>
