---
import FlashMessages from "../components/FlashMessages.astro";
import HeroLayout from "../layouts/Hero.astro";
---

<HeroLayout pageTitle="todo" topnav="full">
	<FlashMessages />
	<h1 class="text-2xl font-bold">Todo webapp</h1>
	<p class="prose">
		This is a demo todo webapp written in
		<a class="link" href="https://www.rust-lang.org/">rust</a>.

		The backed in written with the help of
		<a class="link" href="https://actix.rs/">actix-web</a>,
		<a class="link" href="https://github.com/launchbadge/sqlx">sqlx</a> and
		<a class="link" href="https://rust-sailfish.github.io/sailfish/">sailfish</a>,
		while the frontend is written with the help of
		<a href="https://astro.build/" class="link">astro</a>,
		<a href="https://tailwindcss.com/" class="link">tailwindcss</a> and
		<a href="https://daisyui.com/" class="link">daisyui</a>.

		It uses <a class="link" href="https://www.postgresql.org/">PostgreSQL</a>
		for the database and
		<a class="link" href="https://redis.io/">Redis</a> for storing session info.
	</p>

	<p class="prose">
		You can try the app out for yourself by
		<a class="link" href="/signup">signing up</a>,
		or you can check out the source code at the
		<a class="link" href="#TODO">git repository</a>.
		All of the source code including the frontend, backend and API service
		is licensed under the conditions of the MIT license.
	</p>

	<p class="prose">
		Please note that this is just a demo, don't store anything important here.
		The site also might not have all functionality enabled, for example email
		confirmations don't work because they're not worth sending for the purpose
		of a demo.
	</p>

	<p class="prose">
		The backend was written following the guidance of the excellent
		<a href="https://www.zero2prod.com/" class="link">Zero To Production In Rust</a>
		book by Luca Palmieri.
	</p>
</HeroLayout>
