---
import HeroLayout from "../layouts/Hero.astro";
import CardForm from "../components/form/CardForm.astro";
import FormInput from "../components/form/Input.astro";
import FlashMessages from "../components/FlashMessages.astro";
---

<HeroLayout pageTitle="todo login" topnav="bare">
	<FlashMessages />
	<CardForm
		action="/login"
		method="post"
		title="Login"
		submitBtnText="Log In"
		boldTitle={true}
	>
		<FormInput
			type="text"
			name="username"
			placeholder="username"
			labelTopLeft="Username"
		/>
		<FormInput
			type="password"
			name="password"
			placeholder="password"
			labelTopLeft="password"
		/>
		<a
			href="/signup"
			class="link text-xs link-primary self-center"
			slot="after-submit"
		>
			Not a member? Sign up now
		</a>
	</CardForm>
</HeroLayout>
