---
import BlankLayout from "../layouts/Blank.astro";
import Task from "../components/Task.astro";
import AddTaskForm from "../components/form/AddTaskForm.astro";
import FlashMessages from "../components/FlashMessages.astro";
---

<BlankLayout pageTitle="todo tasks" topnav="full">
	<Fragment set:html={`
	<%
	let complete_tasks = tasks.iter().filter(|t| t.status == "complete");
	let incomplete_tasks = tasks.iter().filter(|t| t.status != "complete");
	%>
	`} />

	<main class="flex flex-grow flex-col flex-wrap bg-base-200 items-center pt-2">
		<FlashMessages />
		<section
			class="md:flex gap-4 max-w-screen-md w-full mt-2 mb-4 justify-center"
		>
			<AddTaskForm />
		</section>

		<div
			id="tasks"
			class="w-full max-w-xl md:max-w-screen-md flex flex-col items-center gap-2 pr-4 pl-4"
		>
			<Fragment set:html={`<% for task in incomplete_tasks { %>`} />
			<Task />
			<Fragment set:html={`<% } %>`} />

			<div class="divider w-full">COMPLETE</div>

			<Fragment set:html={`<% for task in complete_tasks { %>`} />
			<Task />
			<Fragment set:html={`<% } %>`} />
		</div>
	</main>
</BlankLayout>
