---
export interface Props {
	label: String;
	name: string;
	checked?: boolean;
	required?: boolean;
	readonly?: boolean;
}
const { label, name, checked, required, readonly } = Astro.props;
---

<div class="form-control">
	<label class="label cursor-pointer">
		<span class="label-text">{label}</span>
		<input
			type="checkbox"
			class="checkbox"
			name={name}
			value="true"
			checked={checked}
			required={required === false ? false : true}
			readonly={readonly}
		/>
	</label>
</div>
