---
export interface Props {
	type: "text" | "password" | "email";
	placeholder?: string;
	labelTopLeft?: string;
	labelTopRight?: string;
	name: string;
	value?: string;
	required?: boolean;
	readonly?: boolean;
}
const {
	type,
	placeholder,
	labelTopLeft,
	labelTopRight,
	name,
	value,
	required = true,
	readonly = false,
} = Astro.props;

// Stupid hack because astro doesn't support unescaped attributes
// https://github.com/withastro/astro/issues/2095
const inputElem =  [
	`<input`,
	`type=${type}`,
	`class="input input-bordered max-w-xs w-full"`,
	`name=${name}`,
	(value && `value="${value}"`),
	(required && `required`),
	(readonly && `readonly`),
	(placeholder && `placeholder="${placeholder}"`),
	`/>`,
].join(" ");
---

<div class="form-control">
	{
		(labelTopLeft || labelTopRight) && (
			<label class="flex items-center justify-between">
				{labelTopLeft && <span class="label-text">{labelTopLeft}</span>}
				{labelTopRight && <span class="label-text-alt">{labelTopRight}</span>}
			</label>
		)
	}
	<Fragment set:html={inputElem} />
</div>

<style>
.form-control + .form-control {
	margin-top: 0.25rem;
}
</style>
